################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProyectoFerreteria/.vs/ProyectoFerreteria/v17/Browse.VC.db-wal
